/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    
    max-width: 80%;
    
    max-height: 80%;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 24px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
  .modal .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgb(201, 32, 32);
    font-size: 16px;
    padding: 12px 24px;
    border: 1px solid rgb(160, 53, 53);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
   
  }
  
  .modal .btn:hover {
    background-color: transparent;
    border: 1px solid rgb(116, 63, 63);
    font-size: 20px;
  
  }


.nav{
    background-color: rgba(255, 255, 255, 0.5);
    
    list-style: none;
    position: fixed;
   margin-top: -8px;
    width: 100%;
    font-family: Product Sans;
    font-size: 0;
    text-align:center;
    padding-left:0px;
   
}

.nav-link{
    width: 5%;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}
.nav-link:hover{
    text-decoration: underline 1px solid;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    margin-top: 5%;
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  .column4 {
    margin-top: 3.5%;
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }




.img1{
    width: 100%;
    
    
    padding: 5px;
    box-shadow:0px 0px 20px 0px grey;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
   
    
}
.img2{
    width: 100%;
    
    
    
    padding: 5px;
    box-shadow:0px 0px 20px 0px grey;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    
}
.img3{
    width: 100%;
    
    
    
    padding: 5px;
    box-shadow:0px 0px 20px 0px grey;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    
}
.img4{
    width: 100%;
    
    
    
    padding: 5px;
    box-shadow:0px 0px 20px 0px grey;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    
}
.img5{
    width: 100%;
    
    
    
    padding: 5px;
    box-shadow:0px 0px 20px 0px grey;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    
}
.img6{
    width: 100%;
    
    
    
    padding: 5px;
    box-shadow:0px 0px 20px 0px grey;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    
}
.img7{
    width: 100%;
    
    
    
    padding: 5px;
    box-shadow:0px 0px 20px 0px grey;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    
}


.container{
    position: absolute;
    left: 55px;
    top: 175px;
}

.img1:hover {
    opacity: 0.3;
}
.img2:hover {
    opacity: 0.3;
}

.img3:hover {
    opacity: 0.3;
}
.img4:hover {
    opacity: 0.3;
}

.img5:hover {
    opacity: 0.3;
}
.img6:hover {
    opacity: 0.3;
}

.img7:hover {
    opacity: 0.3;
}

.btn:hover {
    opacity: 1;
}


@media only screen and (max-width: 1100px)  {
    .nav{
        background-color: white;
        list-style: none;
        position: fixed;
       margin-top: -8px;
        width: 100%;
        font-family: Product Sans;
        font-size: 0;
        text-align:center;
        margin-left:-7px;
        
    }
    
    .nav-link{
        width: 25%;
        height: 30px;
        display: inline-block;
        text-align: center;
        padding-top: 5px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        margin-left:-7px;
    }
    .nav-link:hover{
        text-decoration: underline 1px solid;
    }
    
   
    
    * {
        box-sizing: border-box;
      }
      
      
      .column {
        float: left;
        width: 100%;
        padding: 10px;
        margin-top: 10%;
      }
      .column4 {
        float: left;
        width: 100%;
        padding: 10px;
        margin-top: 10%;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
}